<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>PeevedPenguinsAssets/background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1920, 768}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1920, 768}}</string>
			<key>sourceSize</key>
			<string>{1920, 768}</string>
		</dict>
		<key>PeevedPenguinsAssets/bear.png</key>
		<dict>
			<key>frame</key>
			<string>{{1539, 771}, {161, 156}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {161, 156}}</string>
			<key>sourceSize</key>
			<string>{161, 156}</string>
		</dict>
		<key>PeevedPenguinsAssets/beararm.png</key>
		<dict>
			<key>frame</key>
			<string>{{50, 1923}, {89, 70}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {89, 70}}</string>
			<key>sourceSize</key>
			<string>{89, 70}</string>
		</dict>
		<key>PeevedPenguinsAssets/bearnoarms.png</key>
		<dict>
			<key>frame</key>
			<string>{{1702, 771}, {161, 156}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {161, 156}}</string>
			<key>sourceSize</key>
			<string>{161, 156}</string>
		</dict>
		<key>PeevedPenguinsAssets/button.png</key>
		<dict>
			<key>frame</key>
			<string>{{1203, 771}, {334, 305}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {334, 305}}</string>
			<key>sourceSize</key>
			<string>{334, 305}</string>
		</dict>
		<key>PeevedPenguinsAssets/catapult.png</key>
		<dict>
			<key>frame</key>
			<string>{{771, 771}, {430, 160}}</string>
			<key>offset</key>
			<string>{0, -13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 25}, {430, 160}}</string>
			<key>sourceSize</key>
			<string>{430, 185}</string>
		</dict>
		<key>PeevedPenguinsAssets/catapultarm.png</key>
		<dict>
			<key>frame</key>
			<string>{{122, 1923}, {84, 355}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {84, 355}}</string>
			<key>sourceSize</key>
			<string>{84, 355}</string>
		</dict>
		<key>PeevedPenguinsAssets/flyingpenguin.png</key>
		<dict>
			<key>frame</key>
			<string>{{539, 1923}, {50, 49}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {50, 49}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>PeevedPenguinsAssets/ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1923, 1}, {1920, 122}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1920, 122}}</string>
			<key>sourceSize</key>
			<string>{1920, 122}</string>
		</dict>
		<key>PeevedPenguinsAssets/longblock.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2020}, {183, 27}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {183, 27}}</string>
			<key>sourceSize</key>
			<string>{183, 27}</string>
		</dict>
		<key>PeevedPenguinsAssets/menubackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 771}, {1136, 768}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1136, 768}}</string>
			<key>sourceSize</key>
			<string>{1136, 768}</string>
		</dict>
		<key>PeevedPenguinsAssets/seal.png</key>
		<dict>
			<key>frame</key>
			<string>{{479, 1984}, {55, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {55, 50}}</string>
			<key>sourceSize</key>
			<string>{55, 50}</string>
		</dict>
		<key>PeevedPenguinsAssets/squareblock.png</key>
		<dict>
			<key>frame</key>
			<string>{{590, 1923}, {49, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {49, 48}}</string>
			<key>sourceSize</key>
			<string>{49, 48}</string>
		</dict>
		<key>PeevedPenguinsAssets/tallblock.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1923}, {47, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47, 95}}</string>
			<key>sourceSize</key>
			<string>{47, 95}</string>
		</dict>
		<key>PeevedPenguinsAssets/taperedblock.png</key>
		<dict>
			<key>frame</key>
			<string>{{531, 1984}, {227, 54}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {227, 54}}</string>
			<key>sourceSize</key>
			<string>{227, 54}</string>
		</dict>
		<key>PeevedPenguinsAssets/waitingpenguin.png</key>
		<dict>
			<key>frame</key>
			<string>{{479, 1923}, {59, 58}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {59, 58}}</string>
			<key>sourceSize</key>
			<string>{59, 58}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>PeevedPenguinsAssets.png</string>
	</dict>
</dict>
</plist>
