<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>animation/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{122, 315}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/10.png</key>
		<dict>
			<key>frame</key>
			<string>{{63, 559}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/100.png</key>
		<dict>
			<key>frame</key>
			<string>{{290, 914}, {59, 46}}</string>
			<key>offset</key>
			<string>{0, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 28}, {59, 46}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/101.png</key>
		<dict>
			<key>frame</key>
			<string>{{342, 60}, {59, 42}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 33}, {59, 42}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/102.png</key>
		<dict>
			<key>frame</key>
			<string>{{342, 121}, {59, 42}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 33}, {59, 42}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/103.png</key>
		<dict>
			<key>frame</key>
			<string>{{338, 365}, {59, 42}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 33}, {59, 42}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/104.png</key>
		<dict>
			<key>frame</key>
			<string>{{338, 426}, {59, 42}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 33}, {59, 42}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/105.png</key>
		<dict>
			<key>frame</key>
			<string>{{294, 304}, {59, 42}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 33}, {59, 42}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/106.png</key>
		<dict>
			<key>frame</key>
			<string>{{294, 426}, {59, 42}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 33}, {59, 42}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/107.png</key>
		<dict>
			<key>frame</key>
			<string>{{338, 304}, {59, 42}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 33}, {59, 42}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/108.png</key>
		<dict>
			<key>frame</key>
			<string>{{340, 182}, {59, 42}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 33}, {59, 42}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/109.png</key>
		<dict>
			<key>frame</key>
			<string>{{340, 243}, {59, 42}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 33}, {59, 42}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/11.png</key>
		<dict>
			<key>frame</key>
			<string>{{181, 306}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/110.png</key>
		<dict>
			<key>frame</key>
			<string>{{294, 365}, {59, 42}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 33}, {59, 42}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/111.png</key>
		<dict>
			<key>frame</key>
			<string>{{181, 489}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/112.png</key>
		<dict>
			<key>frame</key>
			<string>{{181, 672}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/113.png</key>
		<dict>
			<key>frame</key>
			<string>{{182, 794}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/114.png</key>
		<dict>
			<key>frame</key>
			<string>{{235, 489}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/115.png</key>
		<dict>
			<key>frame</key>
			<string>{{235, 611}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/116.png</key>
		<dict>
			<key>frame</key>
			<string>{{122, 498}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/117.png</key>
		<dict>
			<key>frame</key>
			<string>{{123, 742}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/118.png</key>
		<dict>
			<key>frame</key>
			<string>{{123, 864}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/119.png</key>
		<dict>
			<key>frame</key>
			<string>{{183, 60}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/12.png</key>
		<dict>
			<key>frame</key>
			<string>{{122, 376}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/120.png</key>
		<dict>
			<key>frame</key>
			<string>{{122, 559}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/13.png</key>
		<dict>
			<key>frame</key>
			<string>{{63, 315}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/14.png</key>
		<dict>
			<key>frame</key>
			<string>{{123, 925}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/15.png</key>
		<dict>
			<key>frame</key>
			<string>{{122, 193}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/16.png</key>
		<dict>
			<key>frame</key>
			<string>{{240, 365}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/17.png</key>
		<dict>
			<key>frame</key>
			<string>{{236, 733}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/18.png</key>
		<dict>
			<key>frame</key>
			<string>{{181, 550}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/19.png</key>
		<dict>
			<key>frame</key>
			<string>{{240, 243}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{181, 367}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/20.png</key>
		<dict>
			<key>frame</key>
			<string>{{240, 426}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/21.png</key>
		<dict>
			<key>frame</key>
			<string>{{122, 620}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/22.png</key>
		<dict>
			<key>frame</key>
			<string>{{63, 437}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/23.png</key>
		<dict>
			<key>frame</key>
			<string>{{183, 121}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/24.png</key>
		<dict>
			<key>frame</key>
			<string>{{122, 254}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/25.png</key>
		<dict>
			<key>frame</key>
			<string>{{63, 254}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/26.png</key>
		<dict>
			<key>frame</key>
			<string>{{240, 182}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/27.png</key>
		<dict>
			<key>frame</key>
			<string>{{182, 733}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/28.png</key>
		<dict>
			<key>frame</key>
			<string>{{240, 304}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/29.png</key>
		<dict>
			<key>frame</key>
			<string>{{235, 672}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{63, 620}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/30.png</key>
		<dict>
			<key>frame</key>
			<string>{{236, 916}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/31.png</key>
		<dict>
			<key>frame</key>
			<string>{{63, 681}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/32.png</key>
		<dict>
			<key>frame</key>
			<string>{{181, 428}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/33.png</key>
		<dict>
			<key>frame</key>
			<string>{{122, 437}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/34.png</key>
		<dict>
			<key>frame</key>
			<string>{{63, 376}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/35.png</key>
		<dict>
			<key>frame</key>
			<string>{{181, 184}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/36.png</key>
		<dict>
			<key>frame</key>
			<string>{{182, 855}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/37.png</key>
		<dict>
			<key>frame</key>
			<string>{{289, 487}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/38.png</key>
		<dict>
			<key>frame</key>
			<string>{{236, 794}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/39.png</key>
		<dict>
			<key>frame</key>
			<string>{{181, 611}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{123, 803}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/40.png</key>
		<dict>
			<key>frame</key>
			<string>{{182, 916}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/41.png</key>
		<dict>
			<key>frame</key>
			<string>{{338, 914}, {59, 46}}</string>
			<key>offset</key>
			<string>{0, -15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 29}, {59, 46}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/42.png</key>
		<dict>
			<key>frame</key>
			<string>{{290, 853}, {59, 46}}</string>
			<key>offset</key>
			<string>{0, -15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 29}, {59, 46}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/43.png</key>
		<dict>
			<key>frame</key>
			<string>{{289, 609}, {59, 46}}</string>
			<key>offset</key>
			<string>{0, -15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 29}, {59, 46}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/44.png</key>
		<dict>
			<key>frame</key>
			<string>{{338, 792}, {59, 46}}</string>
			<key>offset</key>
			<string>{0, -15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 29}, {59, 46}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/45.png</key>
		<dict>
			<key>frame</key>
			<string>{{337, 609}, {59, 46}}</string>
			<key>offset</key>
			<string>{0, -15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 29}, {59, 46}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/46.png</key>
		<dict>
			<key>frame</key>
			<string>{{365, 975}, {59, 44}}</string>
			<key>offset</key>
			<string>{0, -16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 31}, {59, 44}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/47.png</key>
		<dict>
			<key>frame</key>
			<string>{{296, 121}, {59, 44}}</string>
			<key>offset</key>
			<string>{0, -16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 31}, {59, 44}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/48.png</key>
		<dict>
			<key>frame</key>
			<string>{{296, 60}, {59, 44}}</string>
			<key>offset</key>
			<string>{0, -16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 31}, {59, 44}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/49.png</key>
		<dict>
			<key>frame</key>
			<string>{{294, 243}, {59, 44}}</string>
			<key>offset</key>
			<string>{0, -16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 31}, {59, 44}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{63, 193}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/50.png</key>
		<dict>
			<key>frame</key>
			<string>{{294, 182}, {59, 44}}</string>
			<key>offset</key>
			<string>{0, -16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 31}, {59, 44}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/51.png</key>
		<dict>
			<key>frame</key>
			<string>{{304, 975}, {59, 46}}</string>
			<key>offset</key>
			<string>{0, -15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 29}, {59, 46}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/52.png</key>
		<dict>
			<key>frame</key>
			<string>{{289, 670}, {59, 46}}</string>
			<key>offset</key>
			<string>{0, -15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 29}, {59, 46}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/53.png</key>
		<dict>
			<key>frame</key>
			<string>{{338, 853}, {59, 46}}</string>
			<key>offset</key>
			<string>{0, -15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 29}, {59, 46}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/54.png</key>
		<dict>
			<key>frame</key>
			<string>{{337, 670}, {59, 46}}</string>
			<key>offset</key>
			<string>{0, -15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 29}, {59, 46}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/55.png</key>
		<dict>
			<key>frame</key>
			<string>{{182, 977}, {59, 46}}</string>
			<key>offset</key>
			<string>{0, -15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 29}, {59, 46}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/56.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 121}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/57.png</key>
		<dict>
			<key>frame</key>
			<string>{{235, 550}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/58.png</key>
		<dict>
			<key>frame</key>
			<string>{{289, 548}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/59.png</key>
		<dict>
			<key>frame</key>
			<string>{{236, 855}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{124, 123}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/60.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 60}, {59, 52}}</string>
			<key>offset</key>
			<string>{0, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 23}, {59, 52}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/61.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 951}, {61, 59}}</string>
			<key>offset</key>
			<string>{0, -8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 16}, {61, 59}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/62.png</key>
		<dict>
			<key>frame</key>
			<string>{{122, 60}, {61, 59}}</string>
			<key>offset</key>
			<string>{0, -8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 16}, {61, 59}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/63.png</key>
		<dict>
			<key>frame</key>
			<string>{{62, 825}, {61, 59}}</string>
			<key>offset</key>
			<string>{0, -8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 16}, {61, 59}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/64.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 825}, {61, 59}}</string>
			<key>offset</key>
			<string>{0, -8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 16}, {61, 59}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/65.png</key>
		<dict>
			<key>frame</key>
			<string>{{62, 951}, {61, 59}}</string>
			<key>offset</key>
			<string>{0, -8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 16}, {61, 59}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/66.png</key>
		<dict>
			<key>frame</key>
			<string>{{505, 1}, {70, 57}}</string>
			<key>offset</key>
			<string>{1, -5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 14}, {70, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/67.png</key>
		<dict>
			<key>frame</key>
			<string>{{73, 1}, {70, 57}}</string>
			<key>offset</key>
			<string>{1, -5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 14}, {70, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/68.png</key>
		<dict>
			<key>frame</key>
			<string>{{721, 1}, {70, 57}}</string>
			<key>offset</key>
			<string>{1, -5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 14}, {70, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/69.png</key>
		<dict>
			<key>frame</key>
			<string>{{289, 1}, {70, 57}}</string>
			<key>offset</key>
			<string>{1, -5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 14}, {70, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/7.png</key>
		<dict>
			<key>frame</key>
			<string>{{181, 245}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/70.png</key>
		<dict>
			<key>frame</key>
			<string>{{433, 1}, {70, 57}}</string>
			<key>offset</key>
			<string>{1, -5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 14}, {70, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/71.png</key>
		<dict>
			<key>frame</key>
			<string>{{60, 60}, {68, 60}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 8}, {68, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/72.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 552}, {68, 60}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 8}, {68, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/73.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 342}, {68, 60}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 8}, {68, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/74.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 692}, {68, 60}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 8}, {68, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/75.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 482}, {68, 60}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 8}, {68, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/76.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 202}, {68, 60}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 6}, {68, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/77.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 622}, {68, 60}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 6}, {68, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/78.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 412}, {68, 60}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 6}, {68, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/79.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 132}, {68, 60}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 6}, {68, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/8.png</key>
		<dict>
			<key>frame</key>
			<string>{{63, 498}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/80.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 272}, {68, 60}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 6}, {68, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/81.png</key>
		<dict>
			<key>frame</key>
			<string>{{865, 1}, {70, 57}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 8}, {70, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/82.png</key>
		<dict>
			<key>frame</key>
			<string>{{361, 1}, {70, 57}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 8}, {70, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/83.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {70, 57}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 8}, {70, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/84.png</key>
		<dict>
			<key>frame</key>
			<string>{{649, 1}, {70, 57}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 8}, {70, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/85.png</key>
		<dict>
			<key>frame</key>
			<string>{{217, 1}, {70, 57}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 8}, {70, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/86.png</key>
		<dict>
			<key>frame</key>
			<string>{{937, 1}, {70, 57}}</string>
			<key>offset</key>
			<string>{1, -3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 12}, {70, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/87.png</key>
		<dict>
			<key>frame</key>
			<string>{{577, 1}, {70, 57}}</string>
			<key>offset</key>
			<string>{1, -3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 12}, {70, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/88.png</key>
		<dict>
			<key>frame</key>
			<string>{{145, 1}, {70, 57}}</string>
			<key>offset</key>
			<string>{1, -3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 12}, {70, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/89.png</key>
		<dict>
			<key>frame</key>
			<string>{{793, 1}, {70, 57}}</string>
			<key>offset</key>
			<string>{1, -3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 12}, {70, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/9.png</key>
		<dict>
			<key>frame</key>
			<string>{{122, 681}, {59, 57}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 18}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/90.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 60}, {70, 57}}</string>
			<key>offset</key>
			<string>{1, -3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 12}, {70, 57}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/91.png</key>
		<dict>
			<key>frame</key>
			<string>{{62, 762}, {61, 59}}</string>
			<key>offset</key>
			<string>{0, -7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 15}, {61, 59}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/92.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 762}, {61, 59}}</string>
			<key>offset</key>
			<string>{0, -7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 15}, {61, 59}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/93.png</key>
		<dict>
			<key>frame</key>
			<string>{{62, 888}, {61, 59}}</string>
			<key>offset</key>
			<string>{0, -7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 15}, {61, 59}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/94.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 888}, {61, 59}}</string>
			<key>offset</key>
			<string>{0, -7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 15}, {61, 59}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/95.png</key>
		<dict>
			<key>frame</key>
			<string>{{63, 130}, {61, 59}}</string>
			<key>offset</key>
			<string>{0, -7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 15}, {61, 59}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/96.png</key>
		<dict>
			<key>frame</key>
			<string>{{290, 792}, {59, 46}}</string>
			<key>offset</key>
			<string>{0, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 28}, {59, 46}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/97.png</key>
		<dict>
			<key>frame</key>
			<string>{{243, 977}, {59, 46}}</string>
			<key>offset</key>
			<string>{0, -14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 28}, {59, 46}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/98.png</key>
		<dict>
			<key>frame</key>
			<string>{{338, 731}, {59, 46}}</string>
			<key>offset</key>
			<string>{0, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 28}, {59, 46}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/99.png</key>
		<dict>
			<key>frame</key>
			<string>{{290, 731}, {59, 46}}</string>
			<key>offset</key>
			<string>{0, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 28}, {59, 46}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>animation.png</string>
	</dict>
</dict>
</plist>
