<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>org.cocos2d.Cocos2d</string>
	<key>CFBundleName</key>
	<string>Cocos2d Documentation</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	
	
	
	<key>DocSetFallbackURL</key>
	<string>http://cocos2d-iphone.org/Cocos2d-iPhone.org</string>
	<key>DocSetFeedName</key>
	<string>Cocos2d Documentation</string>
	<key>DocSetFeedURL</key>
	<string>http://cocos2d-iphone.org/Cocos2d-iPhone.org/Cocos2d-iPhone.org.atom</string>
	<key>DocSetMinimumXcodeVersion</key>
	<string>3.0</string>
	<key>DocSetPlatformFamily</key>
	<string>iphoneos</string>
	<key>DashDocSetFamily</key>
	<string>appledoc</string>
	<key>DocSetPublisherIdentifier</key>
	<string>org.cocos2d.documentation</string>
	<key>DocSetPublisherName</key>
	<string>Cocos2d-iPhone.org</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 Cocos2d-iPhone.org. All rights reserved.</string>
</dict>
</plist>
