<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>PeevedPenguinsAssets/background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {960, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {960, 320}}</string>
			<key>sourceSize</key>
			<string>{960, 320}</string>
		</dict>
		<key>PeevedPenguinsAssets/bear.png</key>
		<dict>
			<key>frame</key>
			<string>{{404, 386}, {80, 78}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {80, 78}}</string>
			<key>sourceSize</key>
			<string>{80, 78}</string>
		</dict>
		<key>PeevedPenguinsAssets/beararm.png</key>
		<dict>
			<key>frame</key>
			<string>{{963, 26}, {44, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {44, 35}}</string>
			<key>sourceSize</key>
			<string>{44, 35}</string>
		</dict>
		<key>PeevedPenguinsAssets/bearnoarms.png</key>
		<dict>
			<key>frame</key>
			<string>{{404, 468}, {80, 78}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {80, 78}}</string>
			<key>sourceSize</key>
			<string>{80, 78}</string>
		</dict>
		<key>PeevedPenguinsAssets/button.png</key>
		<dict>
			<key>frame</key>
			<string>{{323, 603}, {167, 152}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {167, 152}}</string>
			<key>sourceSize</key>
			<string>{167, 152}</string>
		</dict>
		<key>PeevedPenguinsAssets/catapult.png</key>
		<dict>
			<key>frame</key>
			<string>{{323, 386}, {215, 79}}</string>
			<key>offset</key>
			<string>{0, -6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 13}, {215, 79}}</string>
			<key>sourceSize</key>
			<string>{215, 92}</string>
		</dict>
		<key>PeevedPenguinsAssets/catapultarm.png</key>
		<dict>
			<key>frame</key>
			<string>{{963, 63}, {42, 177}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {42, 177}}</string>
			<key>sourceSize</key>
			<string>{42, 177}</string>
		</dict>
		<key>PeevedPenguinsAssets/flyingpenguin.png</key>
		<dict>
			<key>frame</key>
			<string>{{963, 300}, {25, 25}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {25, 25}}</string>
			<key>sourceSize</key>
			<string>{25, 25}</string>
		</dict>
		<key>PeevedPenguinsAssets/ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 323}, {960, 61}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {960, 61}}</string>
			<key>sourceSize</key>
			<string>{960, 61}</string>
		</dict>
		<key>PeevedPenguinsAssets/longblock.png</key>
		<dict>
			<key>frame</key>
			<string>{{1009, 26}, {91, 13}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {91, 13}}</string>
			<key>sourceSize</key>
			<string>{91, 13}</string>
		</dict>
		<key>PeevedPenguinsAssets/menubackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 386}, {568, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {568, 320}}</string>
			<key>sourceSize</key>
			<string>{568, 320}</string>
		</dict>
		<key>PeevedPenguinsAssets/seal.png</key>
		<dict>
			<key>frame</key>
			<string>{{963, 273}, {27, 25}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {27, 25}}</string>
			<key>sourceSize</key>
			<string>{27, 25}</string>
		</dict>
		<key>PeevedPenguinsAssets/squareblock.png</key>
		<dict>
			<key>frame</key>
			<string>{{963, 327}, {24, 24}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {24, 24}}</string>
			<key>sourceSize</key>
			<string>{24, 24}</string>
		</dict>
		<key>PeevedPenguinsAssets/tallblock.png</key>
		<dict>
			<key>frame</key>
			<string>{{963, 1}, {23, 47}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {23, 47}}</string>
			<key>sourceSize</key>
			<string>{23, 47}</string>
		</dict>
		<key>PeevedPenguinsAssets/taperedblock.png</key>
		<dict>
			<key>frame</key>
			<string>{{994, 242}, {113, 27}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {113, 27}}</string>
			<key>sourceSize</key>
			<string>{113, 27}</string>
		</dict>
		<key>PeevedPenguinsAssets/waitingpenguin.png</key>
		<dict>
			<key>frame</key>
			<string>{{963, 242}, {29, 29}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {29, 29}}</string>
			<key>sourceSize</key>
			<string>{29, 29}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>PeevedPenguinsAssets.png</string>
	</dict>
</dict>
</plist>
