<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>animation/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 259}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/10.png</key>
		<dict>
			<key>frame</key>
			<string>{{125, 747}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/100.png</key>
		<dict>
			<key>frame</key>
			<string>{{573, 1339}, {120, 94}}</string>
			<key>offset</key>
			<string>{0, -27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 55}, {120, 94}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/101.png</key>
		<dict>
			<key>frame</key>
			<string>{{674, 363}, {120, 85}}</string>
			<key>offset</key>
			<string>{0, -32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 65}, {120, 85}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/102.png</key>
		<dict>
			<key>frame</key>
			<string>{{670, 607}, {120, 85}}</string>
			<key>offset</key>
			<string>{0, -32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 65}, {120, 85}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/103.png</key>
		<dict>
			<key>frame</key>
			<string>{{670, 729}, {120, 85}}</string>
			<key>offset</key>
			<string>{0, -32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 65}, {120, 85}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/104.png</key>
		<dict>
			<key>frame</key>
			<string>{{680, 851}, {120, 85}}</string>
			<key>offset</key>
			<string>{0, -32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 65}, {120, 85}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/105.png</key>
		<dict>
			<key>frame</key>
			<string>{{583, 485}, {120, 85}}</string>
			<key>offset</key>
			<string>{0, -32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 65}, {120, 85}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/106.png</key>
		<dict>
			<key>frame</key>
			<string>{{583, 729}, {120, 85}}</string>
			<key>offset</key>
			<string>{0, -32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 65}, {120, 85}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/107.png</key>
		<dict>
			<key>frame</key>
			<string>{{670, 485}, {120, 85}}</string>
			<key>offset</key>
			<string>{0, -32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 65}, {120, 85}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/108.png</key>
		<dict>
			<key>frame</key>
			<string>{{674, 241}, {120, 85}}</string>
			<key>offset</key>
			<string>{0, -32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 65}, {120, 85}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/109.png</key>
		<dict>
			<key>frame</key>
			<string>{{675, 119}, {120, 85}}</string>
			<key>offset</key>
			<string>{0, -32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 65}, {120, 85}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/11.png</key>
		<dict>
			<key>frame</key>
			<string>{{359, 485}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/110.png</key>
		<dict>
			<key>frame</key>
			<string>{{583, 607}, {120, 85}}</string>
			<key>offset</key>
			<string>{0, -32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 65}, {120, 85}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/111.png</key>
		<dict>
			<key>frame</key>
			<string>{{359, 851}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/112.png</key>
		<dict>
			<key>frame</key>
			<string>{{359, 1217}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/113.png</key>
		<dict>
			<key>frame</key>
			<string>{{362, 1461}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/114.png</key>
		<dict>
			<key>frame</key>
			<string>{{466, 851}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/115.png</key>
		<dict>
			<key>frame</key>
			<string>{{466, 1095}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/116.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 503}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/117.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 991}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/118.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 1235}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/119.png</key>
		<dict>
			<key>frame</key>
			<string>{{359, 241}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/12.png</key>
		<dict>
			<key>frame</key>
			<string>{{243, 119}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/120.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 625}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/13.png</key>
		<dict>
			<key>frame</key>
			<string>{{125, 259}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/14.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 1357}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/15.png</key>
		<dict>
			<key>frame</key>
			<string>{{125, 1113}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/16.png</key>
		<dict>
			<key>frame</key>
			<string>{{476, 607}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/17.png</key>
		<dict>
			<key>frame</key>
			<string>{{466, 1339}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/18.png</key>
		<dict>
			<key>frame</key>
			<string>{{359, 973}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/19.png</key>
		<dict>
			<key>frame</key>
			<string>{{476, 363}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{359, 607}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/20.png</key>
		<dict>
			<key>frame</key>
			<string>{{476, 729}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/21.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 747}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/22.png</key>
		<dict>
			<key>frame</key>
			<string>{{125, 503}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/23.png</key>
		<dict>
			<key>frame</key>
			<string>{{360, 119}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/24.png</key>
		<dict>
			<key>frame</key>
			<string>{{125, 1357}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/25.png</key>
		<dict>
			<key>frame</key>
			<string>{{361, 1901}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/26.png</key>
		<dict>
			<key>frame</key>
			<string>{{478, 1827}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/27.png</key>
		<dict>
			<key>frame</key>
			<string>{{359, 1339}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/28.png</key>
		<dict>
			<key>frame</key>
			<string>{{476, 485}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/29.png</key>
		<dict>
			<key>frame</key>
			<string>{{466, 1217}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{125, 869}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/30.png</key>
		<dict>
			<key>frame</key>
			<string>{{472, 1705}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/31.png</key>
		<dict>
			<key>frame</key>
			<string>{{125, 991}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/32.png</key>
		<dict>
			<key>frame</key>
			<string>{{359, 729}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/33.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 381}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/34.png</key>
		<dict>
			<key>frame</key>
			<string>{{125, 381}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/35.png</key>
		<dict>
			<key>frame</key>
			<string>{{245, 1479}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/36.png</key>
		<dict>
			<key>frame</key>
			<string>{{365, 1583}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/37.png</key>
		<dict>
			<key>frame</key>
			<string>{{573, 851}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/38.png</key>
		<dict>
			<key>frame</key>
			<string>{{469, 1461}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/39.png</key>
		<dict>
			<key>frame</key>
			<string>{{359, 1095}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 1113}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/40.png</key>
		<dict>
			<key>frame</key>
			<string>{{365, 1705}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/41.png</key>
		<dict>
			<key>frame</key>
			<string>{{674, 1705}, {120, 93}}</string>
			<key>offset</key>
			<string>{0, -28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 57}, {120, 93}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/42.png</key>
		<dict>
			<key>frame</key>
			<string>{{669, 1217}, {120, 93}}</string>
			<key>offset</key>
			<string>{0, -28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 57}, {120, 93}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/43.png</key>
		<dict>
			<key>frame</key>
			<string>{{579, 1705}, {120, 93}}</string>
			<key>offset</key>
			<string>{0, -28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 57}, {120, 93}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/44.png</key>
		<dict>
			<key>frame</key>
			<string>{{672, 1461}, {120, 93}}</string>
			<key>offset</key>
			<string>{0, -28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 57}, {120, 93}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/45.png</key>
		<dict>
			<key>frame</key>
			<string>{{600, 1949}, {120, 93}}</string>
			<key>offset</key>
			<string>{0, -28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15, 57}, {120, 93}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/46.png</key>
		<dict>
			<key>frame</key>
			<string>{{680, 1827}, {120, 89}}</string>
			<key>offset</key>
			<string>{0, -30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 61}, {120, 89}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/47.png</key>
		<dict>
			<key>frame</key>
			<string>{{584, 119}, {120, 89}}</string>
			<key>offset</key>
			<string>{0, -30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 61}, {120, 89}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/48.png</key>
		<dict>
			<key>frame</key>
			<string>{{583, 241}, {120, 89}}</string>
			<key>offset</key>
			<string>{0, -30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 61}, {120, 89}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/49.png</key>
		<dict>
			<key>frame</key>
			<string>{{583, 363}, {120, 89}}</string>
			<key>offset</key>
			<string>{0, -30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 61}, {120, 89}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{244, 1901}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/50.png</key>
		<dict>
			<key>frame</key>
			<string>{{722, 1949}, {120, 89}}</string>
			<key>offset</key>
			<string>{0, -30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15, 61}, {120, 89}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/51.png</key>
		<dict>
			<key>frame</key>
			<string>{{669, 1339}, {120, 93}}</string>
			<key>offset</key>
			<string>{0, -28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 57}, {120, 93}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/52.png</key>
		<dict>
			<key>frame</key>
			<string>{{585, 1827}, {120, 93}}</string>
			<key>offset</key>
			<string>{0, -28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 57}, {120, 93}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/53.png</key>
		<dict>
			<key>frame</key>
			<string>{{674, 1583}, {120, 93}}</string>
			<key>offset</key>
			<string>{0, -28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 57}, {120, 93}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/54.png</key>
		<dict>
			<key>frame</key>
			<string>{{669, 1095}, {120, 93}}</string>
			<key>offset</key>
			<string>{0, -28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 57}, {120, 93}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/55.png</key>
		<dict>
			<key>frame</key>
			<string>{{579, 1583}, {120, 93}}</string>
			<key>offset</key>
			<string>{0, -28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 57}, {120, 93}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/56.png</key>
		<dict>
			<key>frame</key>
			<string>{{477, 119}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/57.png</key>
		<dict>
			<key>frame</key>
			<string>{{466, 973}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/58.png</key>
		<dict>
			<key>frame</key>
			<string>{{573, 973}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/59.png</key>
		<dict>
			<key>frame</key>
			<string>{{472, 1583}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{125, 1235}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/60.png</key>
		<dict>
			<key>frame</key>
			<string>{{476, 241}, {120, 105}}</string>
			<key>offset</key>
			<string>{0, -22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 45}, {120, 105}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/61.png</key>
		<dict>
			<key>frame</key>
			<string>{{123, 1775}, {124, 119}}</string>
			<key>offset</key>
			<string>{-2, -15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11, 31}, {124, 119}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/62.png</key>
		<dict>
			<key>frame</key>
			<string>{{244, 1775}, {124, 119}}</string>
			<key>offset</key>
			<string>{-2, -15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11, 31}, {124, 119}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/63.png</key>
		<dict>
			<key>frame</key>
			<string>{{123, 1901}, {124, 119}}</string>
			<key>offset</key>
			<string>{-2, -15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11, 31}, {124, 119}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/64.png</key>
		<dict>
			<key>frame</key>
			<string>{{123, 1649}, {124, 119}}</string>
			<key>offset</key>
			<string>{-2, -15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11, 31}, {124, 119}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/65.png</key>
		<dict>
			<key>frame</key>
			<string>{{244, 1649}, {124, 119}}</string>
			<key>offset</key>
			<string>{-2, -15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11, 31}, {124, 119}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/66.png</key>
		<dict>
			<key>frame</key>
			<string>{{1009, 1}, {142, 116}}</string>
			<key>offset</key>
			<string>{1, -10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 27}, {142, 116}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/67.png</key>
		<dict>
			<key>frame</key>
			<string>{{145, 1}, {142, 116}}</string>
			<key>offset</key>
			<string>{1, -10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 27}, {142, 116}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/68.png</key>
		<dict>
			<key>frame</key>
			<string>{{1441, 1}, {142, 116}}</string>
			<key>offset</key>
			<string>{1, -10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 27}, {142, 116}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/69.png</key>
		<dict>
			<key>frame</key>
			<string>{{577, 1}, {142, 116}}</string>
			<key>offset</key>
			<string>{1, -10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 27}, {142, 116}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/7.png</key>
		<dict>
			<key>frame</key>
			<string>{{359, 363}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/70.png</key>
		<dict>
			<key>frame</key>
			<string>{{865, 1}, {142, 116}}</string>
			<key>offset</key>
			<string>{1, -10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 27}, {142, 116}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/71.png</key>
		<dict>
			<key>frame</key>
			<string>{{119, 119}, {138, 122}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5, 15}, {138, 122}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/72.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1103}, {138, 122}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5, 15}, {138, 122}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/73.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 683}, {138, 122}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5, 15}, {138, 122}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/74.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1383}, {138, 122}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5, 15}, {138, 122}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/75.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 963}, {138, 122}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5, 15}, {138, 122}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/76.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 403}, {138, 122}}</string>
			<key>offset</key>
			<string>{-1, 3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5, 11}, {138, 122}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/77.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1243}, {138, 122}}</string>
			<key>offset</key>
			<string>{-1, 3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5, 11}, {138, 122}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/78.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 823}, {138, 122}}</string>
			<key>offset</key>
			<string>{-1, 3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5, 11}, {138, 122}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/79.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 263}, {138, 122}}</string>
			<key>offset</key>
			<string>{-1, 3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5, 11}, {138, 122}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/8.png</key>
		<dict>
			<key>frame</key>
			<string>{{125, 625}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/80.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 543}, {138, 122}}</string>
			<key>offset</key>
			<string>{-1, 3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5, 11}, {138, 122}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/81.png</key>
		<dict>
			<key>frame</key>
			<string>{{1729, 1}, {142, 116}}</string>
			<key>offset</key>
			<string>{1, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 15}, {142, 116}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/82.png</key>
		<dict>
			<key>frame</key>
			<string>{{721, 1}, {142, 116}}</string>
			<key>offset</key>
			<string>{1, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 15}, {142, 116}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/83.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {142, 116}}</string>
			<key>offset</key>
			<string>{1, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 15}, {142, 116}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/84.png</key>
		<dict>
			<key>frame</key>
			<string>{{1297, 1}, {142, 116}}</string>
			<key>offset</key>
			<string>{1, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 15}, {142, 116}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/85.png</key>
		<dict>
			<key>frame</key>
			<string>{{433, 1}, {142, 116}}</string>
			<key>offset</key>
			<string>{1, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 15}, {142, 116}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/86.png</key>
		<dict>
			<key>frame</key>
			<string>{{1873, 1}, {142, 116}}</string>
			<key>offset</key>
			<string>{1, -6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 23}, {142, 116}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/87.png</key>
		<dict>
			<key>frame</key>
			<string>{{1153, 1}, {142, 116}}</string>
			<key>offset</key>
			<string>{1, -6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 23}, {142, 116}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/88.png</key>
		<dict>
			<key>frame</key>
			<string>{{289, 1}, {142, 116}}</string>
			<key>offset</key>
			<string>{1, -6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 23}, {142, 116}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/89.png</key>
		<dict>
			<key>frame</key>
			<string>{{1585, 1}, {142, 116}}</string>
			<key>offset</key>
			<string>{1, -6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 23}, {142, 116}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/9.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 869}, {120, 115}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 35}, {120, 115}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/90.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 119}, {142, 116}}</string>
			<key>offset</key>
			<string>{1, -6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5, 23}, {142, 116}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/91.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1775}, {124, 120}}</string>
			<key>offset</key>
			<string>{-2, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11, 29}, {124, 120}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/92.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1523}, {124, 120}}</string>
			<key>offset</key>
			<string>{-2, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11, 29}, {124, 120}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/93.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1901}, {124, 120}}</string>
			<key>offset</key>
			<string>{-2, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11, 29}, {124, 120}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/94.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1649}, {124, 120}}</string>
			<key>offset</key>
			<string>{-2, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11, 29}, {124, 120}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/95.png</key>
		<dict>
			<key>frame</key>
			<string>{{123, 1523}, {124, 120}}</string>
			<key>offset</key>
			<string>{-2, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11, 29}, {124, 120}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/96.png</key>
		<dict>
			<key>frame</key>
			<string>{{573, 1217}, {120, 94}}</string>
			<key>offset</key>
			<string>{0, -27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 55}, {120, 94}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/97.png</key>
		<dict>
			<key>frame</key>
			<string>{{478, 1949}, {120, 94}}</string>
			<key>offset</key>
			<string>{0, -27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15, 55}, {120, 94}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/98.png</key>
		<dict>
			<key>frame</key>
			<string>{{576, 1461}, {120, 94}}</string>
			<key>offset</key>
			<string>{0, -27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 55}, {120, 94}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>animation/99.png</key>
		<dict>
			<key>frame</key>
			<string>{{573, 1095}, {120, 94}}</string>
			<key>offset</key>
			<string>{0, -27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 55}, {120, 94}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>animation.png</string>
	</dict>
</dict>
</plist>
